.MainLayout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "header"
    "content";
  &_header {
    grid-area: header;
    text-align: center;
    align-self: end;
  }
  &_body {
    grid-area: content;
    text-align: center;
  }
}