$white: #fff !default;
$gray-100: #f3f6f9 !default; 
$gray-200: #e2e7ec !default; 
$gray-300: #c7d1db !default; 
$gray-400: #b3bcc6 !default; 
$gray-500: #878fa3 !default; 
$gray-600: #424242 !default;
$gray-700: #17212e !default; 
$black: #212121 !default;

$bg-color: $gray-100;
$text-color: $gray-600;

$primary-color: #6750a4 !default;
$success-color: #8ec060 !default;
$danger-color: #cd3e48 !default;