@import "styles/variables";
@import "styles/mixins";

$cityFinderResultsList_width: 400px;

.CityFinderResultsList {
  @include elevation(12);
  display: inline-block;
  position: absolute;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0.5rem auto 1.5rem auto;
  background-color: lighten($primary-color, 44%);
  border-radius: $border-radius;
  width: auto;
  max-height: 40vh;
  min-height: 30px;
  width: $cityFinderResultsList_width;
  overflow-y: auto;
  left: 0;
  &_item{
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: left;
    @include textEllipsis();
    &:hover{
      background-color: rgba($color: $primary-color, $alpha: 0.2);
    }
  }
}